<div id="canvas_home_container">
    <canvas id="canvas_home" width="500" height="700"></canvas>
</div>
<div id="buttons_container">
    <div id="login_button">
        <a href="/login">Login</a>
    </div>
    <div id="register_button">
        <a href="/register">Register</a>
    </div>
</div>